<form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()" class="form-signin my-5">
    <img class="mb-4" src="./assets/images/stock.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Welcome to Stock Screening</h1>
    <div class="alert alert-danger" role="alert"
        *ngIf="submitted && (f.username.errors || f.password.errors || message)">
        <p *ngIf="f.username.errors && f.username.errors.required">Username is required</p>
        <p *ngIf="f.username.errors && f.username.errors.email">Username should be an email</p>
        <p *ngIf="f.password.errors && f.password.errors.required">Password is required</p>
        <p *ngIf="f.password.errors && f.password.errors.minlength">Password must be at least 8 characters</p>
        <p *ngIf="f.password.errors && f.password.errors.pattern">Password must contain Uppercase, lowercase, numbers
            and alphanumeric digits
        </p>
        <p *ngIf="message">{{message}}</p>
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
        formControlName="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
        formControlName="password">
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    <p class="mt-5 mb-3">Do not have an account ? <a class="text-primary cursor-pointer" routerLink="/register">Register
            here</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
</form>